<!DOCTYPE html>
<html>
<head>
  <title>Webshop</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? %>
	<p> Eres el usuario <%= "email: #{current_user.email} |  nombre: #{current_user.first_name} "%></p>
<% else %>
    haz login  en <%= link_to "este enlace", new_session_path %>
<% end %>


<div id="menu">Menu items here
<%= render partial: "/layouts/menu"%>
</div>
<div id="content">Content here</div>

<%= yield %>

</body>
</html>
